body {
  background: #444; }

div.chart {
  padding: 5px;
  width: 1100px; height: 400px; border: solid 1px #ddd;
  background: #fafafa;
  overflow: hidden;
  margin: 150px auto;
}

.hyperchart .bar { fill: steelblue; }
.hyperchart .bar { shape-rendering: optimizeSpeed; }

.atlantis .hyperchart .bar.series-5 { fill: #b8e2f1; }
.atlantis .hyperchart .bar.series-4 { fill: #67a2b1; }
.atlantis .hyperchart .bar.series-3 { fill: #35697b; }
.atlantis .hyperchart .bar.series-2 { fill: #2b373c; }
.atlantis .hyperchart .bar.series-1 { fill: #8dd223; }

.hyperchart .bar { stroke-width: 1px; stroke: #fff; }
.hyperchart .bar.series-4 { fill: #c1f1b8; }
.hyperchart .bar.series-3 { fill: #6ba89b; }
.hyperchart .bar.series-2 { fill: #35697b; }
.hyperchart .bar.series-1 { fill: #2b373c; }
.hyperchart .bar.series-5 { fill: #8dd223; }

.hyperchart text {
  text-rendering: optimizeLegibility;
  font-family: 'lucida grande', helvetica, sans-serif;
  font-size: 8pt;
  color: #ddd;
}

.hyperchart .legend.value {
  font-size: 16pt; }

.chart svg { background: #fefefe; }
.chart svg rect { fill: green; margin-bottom: 2px; }

.chart svg line { stroke-width: 1px; stroke: #ccc; }
